<!DOCTYPE html>
<html lang="en">
<head>
    <title>Homework 4 - {{ title }}</title>
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" href="../static/content/bd.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="../static/scripts/myJs2.js"></script>
</head>
<body>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Make this sentence a gift to someone</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Recipient:</label>
                            <input class="form-control" id="recipient-name" type="email">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button id="sendEmail" type="button" class="btn btn-primary" data-dismiss="modal">Send Email</button>
                </div>
            </div>
        </div>
    </div>

    <div id="myModal" class="modal">
        <span id="closeImageModal">&times;</span>
        <img class="modal-content" id="img01">
    </div>

    <div class="table">
        <table class="images">
            <thead>
                <tr>
                    <th scope="row" colspan="3">Images</th>
                </tr>
                <tr>
                    <th scope="col">Link</th>
                    <th scope="col">Description</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody id="imagesTbody"></tbody>
        </table>
    </div>
</body>
</html>
